<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Painel de Controle | Guias da Chapada</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="./dist/styles/main.css">
</head>
<body>
    <h1>Administrador</h1>
    <p>Bem vindo </p>
    <label>Quem somos:
        <br/>
        <input rows="4" cols="50" type="text" name="quemsomos" value="" />
    </label>
    <br/>
  <h3><a href="/logout">logout</a></h3>
  <!--
    *Conteúdo
    - Home slides
    - Quem somos
    - Chapada
    - - História
    - - Cultura
    - - Cerrado
    - Instagram #hash
    *Pontos
    - Categoria (roteiro, atrativo, comer, dormir)
    - Latitude e Longitude
    - Marcadores (dificuldade, diárias, acesso, refeição, custo, rating, wifi) - Max 7
    *Agenda
    - Calendário
    - Lista de agendamentos
    - Apontar guia
    *Premium
    - Pontos em destaque
   -->
</body>
</html>