<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>| Login | Guias da Chpada</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <form action="/login" method="post" style="margin: 0 auto; width: 60%; margin-top: 10%;">
    <div class="jumbotron">
      <label>Usuário:
        <input type="text" name="username" value="" />
      </label>
    </div>
    <div class="jumbotron">
      <label>Senha:
        <input type="password" name="password" value="" />
      </label>
    </div>
    <button type="submit">Entrar</button>
  </form>
</body>
</html>
