 .grid_50_h {
 	height: 640px;
 }
 .chapada-cerrado,
 .chapada-historia,
 .chapada-cultura {
 	height: 160px;
 	background-image: url(../img/slide.jpg);
 	background-size: cover;
 	background-position: bottom;
 }