 .chapada-img {
 	max-height: 510px;
 	overflow: hidden;
 }
 .grid_50_h {
 	height: 640px;
 }
 .chapada-cerrado,
 .chapada-historia,
 .chapada-cultura {
 	height: 144.5px;
 	background-size: cover;
 	background-position: bottom;
 }
 .chapada-cerrado {background-image: url(https://ununsplash.imgix.net/uploads/141319062591093cefc09/ad50c1f0?fit=crop&fm=jpg&h=725&q=75&w=1050);}
 .chapada-historia {background-image: url(https://unsplash.imgix.net/uploads/14115890754139bc8568d/d5e1ad1d?fit=crop&fm=jpg&h=700&q=75&w=1050);}
 .chapada-cultura {background-image: url(https://ununsplash.imgix.net/reserve/unsplash_5288cc8f3571d_1.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050);}
