 .chapada-img {
 	max-height: 510px;
 	overflow: hidden;
 }
 .grid_50_h {
 	height: 640px;
 }
 .chapada-cerrado,
 .chapada-historia,
 .chapada-cultura {
 	height: 144.5px;
 	background-size: cover;
 	background-position: bottom;
 }
 .chapada-cerrado {background-image: url(../img/background/chapada-bg-cerrado.jpg);}
 .chapada-historia {background-image: url(../img/background/chapada-bg-historia.jpg);}
 .chapada-cultura {background-image: url(../img/background/chapada-bg-cultura.jpg);}
