.row {
	margin: 0 auto;
}
.admin-area {
	width: 90%;
	background: #fff;
	padding-bottom: 100px;
	padding-top: 20px;
}
.admin-area .col-md-12 {
	width: 90%;
}
.admin-area .col-md-6 {
	width: 45%;
	margin-right: 2%;
}
.admin-area h2 {
	margin: 20px 0;
	padding: 30px;
	background: #000;
	color: #fff;

}
.admin-area pre {
	font-size:10px;
}
.quem-text-area {
	min-height: 357px;
}
.chapada-text-area {
	min-height: 300px;
}
.chamada-wrapper {
	padding: 30px;
	border: solid black 1px;
}
.navbar-nav li {
}