.row {
	margin: 0 auto;
}
.admin-area {
	width: 90%;
	background: #fff;
	padding-bottom: 100px;
	padding-top: 20px;
}
.admin-area .col-md-12 {
	width: 90%;
}
.admin-area .col-md-6 {
	width: 45%;
	margin-right: 2%;
}
.quem-text-area {
	min-height: 357px;
}
.chapada-text-area {
	min-height: 300px;
}
.navbar-nav li {
}