.social-bottom { 
	background: #937448; 
	text-align: center;
	margin: 0 auto;
}
.social-bottom img {
	margin: 0 auto;
	padding: 30px 0;
}
.banner { border-top: 4px solid #417505; background: #000; font-size: 32px;  text-transform: uppercase; text-align: center; padding-top: 3%; padding-bottom: 3%; }
.banner a { color: #fff; font-weight: 700; }
.verde { font-weight: 700; color:#417505; }