.grid_50_h {
	height: 420px;
}
.roteiros-item-wrapper {
	width: 95%;
	margin: 0 auto;
}
.roteiros-h3 {
	text-align: center;
}
.roteiros-img {
	background: black;
	height: 280px;
	overflow: hidden;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}
.roteiros-img img {
	min-width: 100%;
}
.roteiros-img p {
	font-size: 28px;
	color: #417505;
	font-weight: 900;
}
figcaption {
	margin: 0 auto;
	width: 80%;
	position: relative;
	top: -100px;
	transition: top 0.5s;
}
.roteiros-box {
	height: 155px;
	padding: 15px;
	background: rgba(0,0,0,0.8);
}
.roteiros-box p {
	font-weight: 300;
	font-size: 16px;
	color: #fff;
}
.roteiros-img:hover > figcaption {
	top: -370px;
}
.roteiros-dia {
	color: #fff;
}
.roteiros-item h3 {
	text-transform: uppercase;
}
.roteiros-item ul li {
	display: inline;
	list-style-type: none;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
.fb-like {
	float: right;
}
.roteiros-botao-mapa {
	font-weight: 100;
	font-size: 12px;
	position: absolute;
	bottom: 10px;
	height: 20px;
	width: 80px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #417505;
	color: #fff;
}
.roteiros-botao-mapa:hover {
	border-color: #fff;
	color: #417505;
}
.roteiros-botao-duracao, .roteiros-botao-agendar {
	margin-top: 10px;
	height: 20px;
	width: 80px;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}
.roteiros-botao-duracao {
	float: left;
	background: #fff;
	color: #417505
}
.roteiros-botao-agendar:hover {
	background: #000;
}
.roteiros-botao-agendar {
	float: right;
	background: #417505;
	color: #fff;
	cursor: pointer;
}