/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
	#wrapper {
		margin: 0 auto;
		width: 1200px;
	}
	.outer_wrap {
		margin: 0 auto;
		width: 1200px;
	}
}


@media screen and (min-width: 1551px) and (max-width: 1950px) {
	#wrapper {
		margin: 0 auto;
		width: 1200px;
	}
	.outer_wrap {
		margin: 0 auto;
		width: 1200px;
	}
}

@media screen and (min-width: 1225px) and (max-width: 1550px) {
	#wrapper {
		margin: 0 auto;
		width: 1200px;
	}
	.outer_wrap {
		margin: 0 auto;
		width: 1200px;
		/*width: 1000px;*/
	}
}

@media screen and (min-width: 1024px) and (max-width: 1225px) {
	#wrapper {
		margin: 0 auto;
		/*width: 960px; */
	}
	.outer_wrap {
		margin: 0 auto;
		width: 100%;
	}
	.post .grid_90 {
		width: 100%;
	}
	.gallery-caption, 
	.wp-caption-text, 
	.post .grid_10 {
		display: none;
	}
	#menu-item-32 { width: 19.9%!important;}
	#navigation li { width: 19.6%!important;}
	.cell { width: 66.2%!important;}
	.social_icons li { width: 31%;}
	.social_icons li img   { padding: 15px 8px 8px 8px;}
	#sidebar ul li { width: 100%; margin-right: 3%;}
	#sidebar { padding-right: 20px;}
	.news {width: 32.6%!important;}
	.dyn_hp_offer_title h2 {font-size:27px !important;}
}
@media only screen 
and (max-width : 767px) { 
#wrapper {
	border: 0px solid #ffd103;
}

}
/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

#wrapper {
	width: 320px!important; 
	border: 1px solid #ffd103!important;
	z-index:-99999;
}
.outer_wrap {
	width: 320px!important; 
}
#logo { height: 114px;}
#header h1 img {margin-left: 0!important;}
.cell { width: 100%; border: none; height: auto!important;}
.cell div { margin-left: 0; margin-top: 0;}
#navigation { display: none;}
p.bjqs-caption { font-size: 16px;}
ul.bjqs-controls.v-centered li.bjqs-next a { }
.grid_49 { width: 100%; display: block;}
.grid_50_h {width: 100%; min-height: 236px; }
.hp_dest { font-size: 18px;}
#container { }
.social_icons { width: 100%; border: none; float:none;}
.social_icons li { width: 20%;}
.social_icons li img { padding: 12%;}
.fb a img, .gplus a img {padding: 0!important; }
.news { display: none;}
.thinkof { display: none;}
.dyn_hp_offer { width: 100%; border-bottom: 2px solid #ffd103;}
.dyn_hp_offer_thumb img { height: auto!important;}
.dyn_hp_offer h2 { font-size: 16px; line-height: 16px; }
.dyn_hp_offer_desc { line-height: 12px;}
.dyn_hp_offer_txt { width: 90%;}
.grid_20 { width: 65%;}
.grid_80 .offer_image_thumb img {min-height: 69px !important; margin-right: 0 !important;}
#container_city {display:none;}
.daldest, .daldest_last {height: 69px !important; } 
.far_dest_img { min-height: 80px !important; }
.avio_tickets {font-size:16px !important}
.taxes {font-size:14px !important}
.ticket_prize {margin-right:38px;}
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
.grid_49 { width: 49.7%;}
.grid_50_h { width: 49.7%!important; min-height: 410px;}
.bjqs-markers {left: 0!important;}
.travel { height: 371px;}
.dyn_hp_offer { height: 225px;}
.dyn_hp_offer_thumb img {height: 225px; }
.dyn_hp_offer_title h2 { font-size: 20px; line-height:28px;}
.partners_img { width: 30%;}
#header h1 img { margin-left: 20%;}
li .date {width: 20%;}
.dyn_offer { height: 225px;}
.dyn_offer_thumb img { height: 225px!important;}
.paket_when ul li { padding-bottom: 6.5%;}
.widget_wysija_cont {top: -19em;  left: 28%;}
#frame { margin-left: 10%!important;}
#frm_field_121_container { margin-right: -8%;}
.travel {height:385px !important;}
.travel_guide_hp li {padding:5.4%}
.social_icons {width:33.1%}
.social_icons .mail a, .social_icons .tw a, .social_icons .fb a {width:58px;}
.thinkof {width:66.1%}
#header h1 img {margin-top:6%}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

/* Styles */
#wrapper {
	margin: 0 auto;
	width: 764px;
	border: 2px solid #ffd103;
}
.outer_wrap {
	margin: 0 auto;
	width: 764px;
}
#header h1 img { margin-left: 12%; width: 75%; margin-top:6%}
#navigation li { width: 19.5026%;}
p.bjqs-caption { font-size: 28px; top: 62%;}
.cell { width: 65.9%; font-size: 10px;}
.cell div { margin-top: 3%;}
.social_icons { width: 33.2%;}
.social_icons li { width: 31.5%;}
.thinkof { width:65.9%;}
.mail a, .tw a, .fb a {width:48px !important}
#navigation ul li a { padding: 15px 5px !important; }
.thinkof img {padding-top:2%}
.grid_50_h { width: 49.7%; min-height:499px !important}
.bjqs-prev a, .bjqs-next a { top:40% !important;}
.dyn_hp_offer {height:160px!important}
.dyn_hp_offer_thumb img {height:160px!important}
.dyn_hp_offer_title h2 {font-size:18px;margin:0 !important;line-height: 20px;}
.dyn_hp_offer_desc {font-size:13px !important; }
.dyn_hp_offer_txt {line-height:10px !important; width:44% !important; padding-bottom:3%}

.dyn_offer {min-height:160px!important}
.dyn_offer_thumb img {min-height:160px!important}
.dyn_offer_title {font-size:12px !important;}
.dyn_offer_title h2 {font-size:12px;margin:0 !important}
.dyn_offer_txt {line-height:10px !important; width:44% !important; padding-bottom:2%}
.dyn_offer_desc {font-size:11px !important; line-height:15px; }

.dyn_offer_hot {min-height:160px!important}
.dyn_offer_hot_thumb img {min-height:160px!important}
.hotel_offer p {margin:0px !important; font-size:12px !important; line-height:16px !important;padding-bottom:5%;padding-top:5%}
.hotel_name  {font-size:15px;margin:0 !important;line-height: 20px;}
.hotel_offer {padding-bottom:0px;}

.spec_offer_desc {font-size:15px;}
.package_title span {font-size:37px;}

.travel_guide_hp li{padding:4% !important}
.grid_49 {width:49.7%!important}
.travel { height: 303px !important;}
.partners_img {width:31% !important}
#sidebar ul li {width:100% !important}
.contentabout h1 span {margin-left:15px !important}
.entry {padding-left:15px!important; padding-right:10px;}
#frame {margin-left:9% !important; height:668px!important;}
.widget_wysija_cont {top:-17em !important; width:360px !important; left:200px !important}
.wysija-input  {width:220px !important;}

.air_dest {width: 37%;}	
.avio_tickets {font-size:30px;}
#footer h3 {font-size:12px;}
#right-triangle-home {left:48%;}
.offer_image_thumb img {min-height:160px;}
.far_dest_img img {height:160px;}
.far_dest_img  {min-height:180px;}
.crusing_heading h4 {font-size: 20px;}
li .date {width:29%; font-size: 14px;}
.paket_when ul li { padding-bottom:6.5%}
li .days{width:22%;font-size: 14px;}
li .prize {font-size: 14px;}
.testimonial {width:500px !important;}
#container_city {height: 350px;}
.bjqs-wrapper ul li{width:573px !important; left:15px;}
.testimonial {font-size:13px; line-height:19px;}
ol.bjqs-markers.h-centered {left:10px !important}
.w760 #container {width:600px !important;}
.crusing_heading h4 {font-size:18px;}
.cruz_first {font-size:14px;}
.cruz_tour {width:40%;}
.minh span {font-size:14px;}
.cruz li {padding:1.6% 2%;}
}