.header { }
#logo { 
	margin: 0 auto; 
	height: 100px; 
	background-image: url(../img/background/congruent_outline.png);
	background-size: contain;
	border-right: 4px solid #417505; 

}
#header h1 { 
	text-transform: uppercase; 
	color: #fff;
	text-align: center;
	line-height: 100px;
}
#header h1 img { margin-left: 22%; width: 56%; margin-top: 3%; }
#navigation li:hover {
	background: #000;
	color:#fff;
}
#navigation li:focus {
	background: #000;
}
#social { height: 100px;}
.social_icons {height: 50px;}
.social_icons .icono-mail,
.social_icons .icono-facebook,
.social_icons .icono-instagram {
	color: #417505;
}
.social_icons .icono-mail:hover,
.social_icons .icono-facebook:hover,
.social_icons .icono-instagram:hover {
	color: #fff;
}
.social_icons li {height: 50px; list-style: none; float: left; display: inline; width: 31.7%; padding: 0; margin: 0;  }
.social_icons li:hover { background: #000;}
.social_icons li  span { text-align: center; display: block; margin: 10px auto;}
.social_icons { 
	float: left; 
	border-bottom: 4px solid #417505; 
	border-left: 4px solid #417505; 
	width: 33.145%
}
.nav-lang { 
	width: 66.3%; 
	float: left; 
	border-bottom: 4px solid #417505;
	height: 50px; 
	font-size: 13px; 
	background-color: #000000; 
	color:white; 
	text-align: center;
	line-height: 40px;
}
.nav-lang div { 
	margin-left: 5%; 
	margin-top: 1.4%; 
	margin-right: 5%; 
}

/*
.fb a img, .gplus a img { padding: 14px!important;}
*/
.nav-agenda {
	float: left;
	width:66.3%; 
	height: 50px;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px; 
}
.social_icons li:nth-child(1) { border-right: 4px solid #417505;}
.social_icons  li:nth-child(2) { border-right: 4px solid #417505;}
.nav-galeria { 
	height: 50px;
	float: left; 
	width: 33.145%; 
	display: block; 
	text-align: center; 
	margin: 0px; 
	padding: 0px; 
	border-left: 4px solid #417505;
}
.nav-galeria a { padding: 15px; margin: 0px; color: #000; font-family: 'Roboto', sans-serif; font-size: 13px; text-transform: uppercase; font-weight: 700; text-decoration: none; text-align: center; display: block;}
.nav-galeria a:hover, { background: #000; color: #fff;}