 .chapada-img {
    max-height: 510px;
    overflow: hidden;
 }
 .chapada-img img {
    width: 100%;
 }
 .grid_50_h {
    height: 640px;
 }
 .chapada-cerrado,
 .chapada-historia,
 .chapada-cultura {
    height: 144.5px;
    background-size: cover;
    background-position: bottom;
    cursor: pointer;
    opacity: 0.8;
 }
 .chapada-cerrado:hover,
 .chapada-historia:hover,
 .chapada-cultura:hover {
    opacity: 1;
 }
 .chapada-cerrado {background-image: url(/dist/imgs/background/chapada-bg-cerrado.jpg);}
 .chapada-historia {background-image: url(/dist/imgs/background/chapada-bg-historia.jpg);}
 .chapada-cultura {background-image: url(/dist/imgs/background/chapada-bg-cultura.jpg);}
