 .quem-img {
 	max-height: 510px;
 	overflow: hidden;
 }
 .grid_50_h {
 	height: 410px;
 }
 .quem-pic {
 	border: 2px solid #417505;
 }
.quem-pic-right {
	margin-right: -4px;
	border-bottom: 2px solid #417505;
	border-top: 2px solid #417505;
}